h1{
    color: grey !important;
    text-align: center;
    line-height: 150%;
}

*{
    font-family: Helvetica Neue, Helvetica;
    animation: fadeIn 2s ease-in;
}
  body{
    font-size: 80%;
    background-color: #fff;
  }

  #link {
    text-decoration: none;
    color: gray;
  }

  h5{
    text-align: center;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 50px;
    transition-duration: .5s;
    border: hidden;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255)
  }

  img:hover{
    width: 11%;
  }

   li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition-duration: .5s;
  }

  li a:hover {
    color: rgb(80, 80, 80);
    font-size: 110%;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }

  nav {
    background-image: url('../images/clouds.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 5px 5px white;
    line-height: 30px;
    position: fixed;
    width: 100%;
    margin-top: -20px;
  }

  h1 {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  footer {
    text-align: center;
    margin-top: 300px;
  }


  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

  html {
    scroll-behavior: smooth;
  }
